<center><h1>Add User</h1></center>

<%= render 'form', manager: @manager %>

<div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
<%= link_to 'Back', managers_path,:class=>"btn btn-info" %>
</div>
</div>