<center><h1>Add Company</h1></center>

<%= render 'form', company: @company %>

<div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
<%= link_to 'Back', companies_path,:class=>"btn btn-info" %>
</div>
</div>