<center><h1>New Region</h1></center>

<%= render 'form', region: @region %>
<div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
<%= link_to 'Back', regions_path,:class=>"btn btn-info" %>
</div>
</div>