<h1>Add Place</h1>

<%= render 'form', place: @place %>
<div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-2">
<%= link_to 'Back', places_path %>
</div>
</div>